<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.vcloud.qa.dao.ClientScriptTcInfoDAO">
    <resultMap id="BaseResultMap" type="com.netease.vcloud.qa.model.ClientScriptTcInfoDO" >
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate"/>
        <result column="script_name" jdbcType="VARCHAR" property="scriptName"/>
        <result column="script_detail" jdbcType="VARCHAR" property="scriptDetail"/>
        <result column="exec_class" jdbcType="VARCHAR" property="execClass"/>
        <result column="exec_method" jdbcType="VARCHAR" property="execMethod"/>
        <result column="exec_param" jdbcType="VARCHAR" property="execParam"/>
        <result column="tc_id" jdbcType="BIGINT" property="tcId"/>
        <result column="script_owner" jdbcType="VARCHAR" property="scriptOwner"/>
    </resultMap>

    <sql id="baseSql">
        select id,gmt_create,gmt_update,script_name,script_detail,exec_class,exec_method,exec_param,tc_id,script_owner
    </sql>
    
    <select id="getClientScriptSet" resultMap="BaseResultMap">
        <include refid="baseSql"/>
        FROM vcloud_client_script_tc_info
        WHERE id IN
        <foreach collection="idSet" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <insert id="patchInsertClientScript" parameterType="com.netease.vcloud.qa.model.ClientScriptTcInfoDO">
        insert into vcloud_client_script_tc_info (gmt_create,gmt_update,script_name,script_detail,exec_class,exec_method,exec_param,tc_id,script_owner)
        values
        <foreach collection="list" item="script" separator=",">
            (now(),now(),#{script.scriptName},#{script.scriptDetail},#{script.execClass},#{script.execMethod},#{script.execParam},#{script.tcId},#{script.scriptOwner})
        </foreach>
    </insert>

    <select id="getClientScript" resultMap="BaseResultMap">
        <include refid="baseSql"/>
        FROM vcloud_client_script_tc_info
        WHERE id_delete=0
        LIMIT #{start}, #{size}
    </select>

    <select id="getClientScriptCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM vcloud_client_script_tc_info
        WHERE id_delete=0
    </select>

    <update id="updateClientScript">
        update vcloud_client_script_tc_info
        set gmt_update=now(),script_name=#{script.scriptName},script_detail=#{script.scriptDetail},exec_class=#{script.execClass},exec_method=#{script.execMethod},exec_param=#{script.execParam},tc_id=#{script.tcId}
        where id = #{script.id}
    </update>

    <update id="deleteClientScript">
        update vcloud_client_script_tc_info
        set gmt_update=now(),id_delete=1
        where id=#{id}
    </update>

</mapper>
