<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.vcloud.qa.dao.ClientRiskSmokeRateDAO">
    <resultMap id="BaseResultMap" type="com.netease.vcloud.qa.model.ClientRiskSmokeRateDO" >
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate"/>
        <result column="range_type" jdbcType="TINYINT" property="rangeType"/>
        <result column="risk_range_id" jdbcType="BIGINT" property="riskRangeId"/>
        <result column="develop_tv_id" jdbcType="BIGINT" property="developTVId"/>
        <result column="qa_tv_id" jdbcType="BIGINT" property="qaTVId"/>
    </resultMap>


    <sql id="baseSql">
        select id,gmt_create,gmt_update,range_type,risk_range_id,develop_tv_id,qa_tv_id
    </sql>

    <insert id="insertOrUpdateClientRiskSmokeRate">
        INSERT INTO vcloud_risk_smoke_rate_relation(gmt_create,gmt_update,range_type,risk_range_id,develop_tv_id,qa_tv_id)
        VALUES(now(),now(),#{rangeType},#{rangeId},#{devTvId},#{qaTvId})
        ON DUPLICATE KEY UPDATE
        gmt_update = now(),develop_tv_id = #{devTvId},qa_tv_id = #{qaTvId}
    </insert>

    <select id="getClientRiskSmokeRate" resultMap="BaseResultMap">
        <include refid="baseSql"/>
        FROM vcloud_risk_smoke_rate_relation
        WHERE range_type = #{rangeType}
        AND risk_range_id = #{rangeId}
    </select>

</mapper>
