<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.vcloud.qa.dao.ClientRiskRuleDAO">
    <resultMap id="BaseResultMap" type="com.netease.vcloud.qa.model.ClientRiskRuleDO" >
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate"/>
        <result column="rule_name" jdbcType="VARCHAR" property="ruleName"/>
        <result column="check_range" jdbcType="TINYINT" property="checkRange"/>
        <result column="check_stage" jdbcType="TINYINT" property="checkStage"/>
        <result column="check_priority" jdbcType="VARCHAR" property="checkPriority"/>
        <result column="check_info" jdbcType="VARCHAR" property="checkInfo"/>
    </resultMap>

    <sql id="baseSql">
        select id,gmt_create,gmt_update,rule_name,check_range,check_stage,check_priority,check_info
    </sql>

    <select id="getClientRiskRule" resultMap="BaseResultMap">
        <include refid="baseSql"/>
        FROM vcloud_risk_rule_info
        WHERE check_range = #{range}
        AND check_stage = #{stage}
    </select>

    <select id="getClientRiskRuleByIdSet" resultMap="BaseResultMap">
        <include refid="baseSql"/>
        FROM vcloud_risk_rule_info
        WHERE id IN
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <insert id="insertRiskRule" parameterType="com.netease.vcloud.qa.model.ClientRiskRuleDO" keyProperty="rule.id" useGeneratedKeys="true">
        insert into vcloud_risk_rule_info(gmt_create,gmt_update,rule_name,check_range,check_stage,check_priority,check_info)
        values(now(),now(),#{rule.ruleName},#{rule.checkRange},#{rule.checkStage},#{rule.checkPriority},#{rule.checkInfo})
    </insert>

</mapper>
