<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.vcloud.qa.dao.ClientTestCaseInfoDAO">
    <resultMap id="BaseResultMap" type="com.netease.vcloud.qa.model.ClientTestCaseInfoDO" >
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate"/>
        <result column="project_id" jdbcType="BIGINT" property="projectId"/>
        <result column="case_id" jdbcType="BIGINT" property="caseId"/>
        <result column="case_name" jdbcType="VARCHAR" property="caseName"/>
        <result column="execution_steps" jdbcType="VARCHAR" property="executionSteps"/>
        <result column="expected_result" jdbcType="VARCHAR" property="expectedResult"/>
        <result column="is_auto_covered" jdbcType="TINYINT" property="isAutoCovered"/>
    </resultMap>


    <sql id="baseSql">
        select id,gmt_create,gmt_update,project_id,case_id,case_name,execution_steps,expected_result,is_auto_covered
    </sql>


    <insert id="patchInsertIntoTestCaseInfo" parameterType="com.netease.vcloud.qa.model.ClientTestCaseInfoDO">
        insert into vcloud_client_test_case_info (gmt_create,gmt_update,project_id,case_id,case_name,execution_steps,expected_result,is_auto_covered)
        values
        <foreach collection="list" item="info" separator=",">
            (now(),now(),#{info.projectId},#{info.caseId},#{info.caseName},#{info.executionSteps},#{info.expectedResult},0)
        </foreach>
        ON DUPLICATE KEY UPDATE
        gmt_update=now(),case_name=VALUES(case_name),execution_steps=VALUES(execution_steps),expected_result=VALUES(expected_result)
    </insert>


    <update id="updateTestCaseCoveredStatus">
        update vcloud_client_test_case_info
        set is_auto_covered = #{isCovered},gmt_update=now()
        where case_id = #{tcId}
    </update>
</mapper>
