<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.vcloud.qa.dao.ClientAutoTestStatisticDAO">
    <resultMap id="RunInfoResultMap" type="com.netease.vcloud.qa.model.ClientAutoTestStatisticRunInfoDO" >
        <result column="run_info" jdbcType="VARCHAR" property="runInfo"/>
        <result column="total_count" jdbcType="INTEGER" property="count"/>
        <result column="success_count" jdbcType="INTEGER" property="success"/>
        <result column="fail_count" jdbcType="INTEGER" property="fail"/>
    </resultMap>
    <resultMap id="ErrorInfoResultMap" type="com.netease.vcloud.qa.model.ClientAutoTestStatisticErrorInfoDO" >
        <result column="error_info" jdbcType="VARCHAR" property="errorInfo"/>
        <result column="total_count" jdbcType="BIGINT" property="count"/>
    </resultMap>

    <select id="countAllSummerRunInfo" resultMap="RunInfoResultMap">
        SELECT  count(*) as total_count,sum(success_number) as success_count ,sum(fail_number) as fail_count
        FROM vcloud_auto_test_result_info
        WHERE gmt_create &gt; #{start}
        AND gmt_create &lt; #{finish}
        AND run_info not like "auto%";
    </select>

    <select id="countSummerRunInfoGroupByRunInfo" resultMap="RunInfoResultMap">
        SELECT run_info, count(*) as total_count,sum(success_number) as success_count,sum(fail_number) as fail_count
        FROM vcloud_auto_test_result_info
        WHERE gmt_create &gt; #{start}
        AND gmt_create &lt; #{finish}
        AND run_info not like "auto%"
        group by run_info
        order by total_count desc;
    </select>

    <select id="countSummerErrorInfo" resultMap="ErrorInfoResultMap">
        select error_info ,count(1)  as total_count
        from vcloud_auto_test_result_info
        WHERE gmt_create &gt; #{start}
        AND gmt_create &lt; #{finish}
        AND fail_number > 0
        AND run_info like #{runInfo}
        group by error_info
        order by total_count desc ;
    </select>

</mapper>
