<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.vcloud.qa.dao.ClientAutoTaskInfoDAO">
    <resultMap id="BaseResultMap" type="com.netease.vcloud.qa.model.ClientAutoTaskInfoDO" >
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate"/>
        <result column="task_type" jdbcType="VARCHAR" property="taskType"/>
        <result column="task_name" jdbcType="VARCHAR" property="taskName"/>
        <result column="test_suit_id" jdbcType="BIGINT" property="testSuitId"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="device_type" jdbcType="TINYINT" property="deviceType"/>
        <result column="device_info" jdbcType="VARCHAR" property="deviceInfo"/>
        <result column="git_info" jdbcType="VARCHAR" property="gitInfo"/>
        <result column="git_branch" jdbcType="VARCHAR" property="gitBranch"/>
        <result column="task_status" jdbcType="TINYINT" property="taskStatus"/>
    </resultMap>

    <sql id="baseSql">
        select id,gmt_create,gmt_update,task_type,task_name,test_suit_id,operator,device_type,device_info,git_info,git_branch,task_status
    </sql>

    <select id="getClientAutoTaskInfoById" resultMap="BaseResultMap">
        <include refid="baseSql"/>
        FROM vcloud_client_auto_task_info
        WHERE id=#{id}
    </select>

    <update id="updateClientAutoTaskStatus">
        UPDATE vcloud_client_auto_task_info
        SET gmt_update=now(),task_status=#{status}
        WHERE id = #{id}
    </update>

    <select id="queryClientAutoTaskInfoByStatus" resultMap="BaseResultMap">
        <include refid="baseSql"/>
        FROM vcloud_client_auto_task_info
        WHERE task_status = #{status}
    </select>

    <insert id="insertNewClientAutoTask" parameterType="com.netease.vcloud.qa.model.ClientAutoTaskInfoDO" keyProperty="taskInfo.id" useGeneratedKeys="true">
        insert into vcloud_client_auto_task_info (gmt_create,gmt_update,task_type,task_name,test_suit_id,operator,device_type,device_info,git_info,git_branch,task_status)
        value(now(),now(),#{taskInfo.taskType},#{taskInfo.taskName},#{taskInfo.testSuitId},#{taskInfo.operator},#{taskInfo.deviceType},#{taskInfo.deviceInfo},#{taskInfo.gitInfo},#{taskInfo.gitBranch},#{taskInfo.taskStatus})
    </insert>

    <select id="queryAutoTaskInfo" resultMap="BaseResultMap">
        <include refid="baseSql"/>
        FROM vcloud_client_auto_task_info
        WHERE 1=1
        <if test="owner!=null and owner != ''">
            AND operator = #{owner}
        </if>
        ORDER BY id desc
        LIMIT #{start}, #{size}
    </select>

    <select id="queryAutoTaskInfoCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM vcloud_client_auto_task_info
        WHERE 1=1
        <if test="owner!=null and owner != ''">
            AND operator = #{owner}
        </if>
    </select>

</mapper>
