<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.vcloud.qa.dao.ClientRiskDetailDAO">
    <resultMap id="BaseResultMap" type="com.netease.vcloud.qa.model.ClientRiskDetailDO" >
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate"/>
        <result column="rule_id" jdbcType="BIGINT" property="ruleId"/>
        <result column="rule_name" jdbcType="VARCHAR" property="ruleName"/>
        <result column="task_id" jdbcType="BIGINT" property="taskId"/>
        <result column="current_result" jdbcType="VARCHAR" property="currentResult"/>
        <result column="has_risk" jdbcType="TINYINT" property="hasRisk"/>
        <result column="has_detail" jdbcType="VARCHAR" property="riskDetail"/>
    </resultMap>

    <sql id="baseSql">
        select id,gmt_create,gmt_update,rule_id,rule_name,task_id,current_result,has_risk,risk_detail
    </sql>



</mapper>
