<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.vcloud.qa.dao.ClientAutoDeviceInfoDAO">
    <resultMap id="BaseResultMap" type="com.netease.vcloud.qa.model.ClientAutoDeviceInfoDO" >
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate"/>
        <result column="device_ip" jdbcType="VARCHAR" property="deviceIp"/>
        <result column="device_port" jdbcType="INTEGER" property="devicePort"/>
        <result column="platform" jdbcType="TINYINT" property="platform"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="cpu_info" jdbcType="VARCHAR" property="cpuInfo"/>
        <result column="owner" jdbcType="VARCHAR" property="owner"/>
        <result column="run" jdbcType="INTEGER" property="run"/>
        <result column="alive" jdbcType="INTEGER" property="alive"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>

    </resultMap>


    <sql id="baseSql">
        select id,gmt_create,gmt_update,device_ip,device_port,platform,user_id,cpu_info,owner,run,alive,device_id
    </sql>


    <insert id="insertNewDeviceInfo" parameterType="com.netease.vcloud.qa.model.ClientAutoDeviceInfoDO">
        insert into vcloud_client_auto_device_info (gmt_create,gmt_update,device_ip,device_port,platform,user_id,cpu_info,owner,run,alive,device_id)
        value(now(),now(),#{device.deviceIp},#{device.devicePort},#{device.platform},#{device.userId},#{device.cpuInfo},#{device.owner},#{device.run},#{device.alive},#{device.deviceId}) ;
    </insert>

    <select id="getAllClientAutoDevice" resultMap="BaseResultMap">
        <include refid="baseSql"/>
        FROM vcloud_client_auto_device_info
        ORDER BY id DESC
    </select>

    <select id="getClientAutoDeviceByOwner" resultMap="BaseResultMap">
        <include refid="baseSql"/>
        FROM vcloud_client_auto_device_info
        WHERE owner = #{owner}
        ORDER BY id DESC
    </select>

    <select id="getClientAutoDeviceByIds" resultMap="BaseResultMap">
        <include refid="baseSql"/>
        FROM vcloud_client_auto_device_info
        WHERE id in
        <foreach collection="list" item="device" index="index" open="(" close=")" separator=",">
            #{device}
        </foreach>
    </select>

    <update id="updateDeviceInfo" parameterType="com.netease.vcloud.qa.model.ClientAutoDeviceInfoDO">
        update vcloud_client_auto_device_info
        set gmt_update=now() , device_ip=#{device.deviceIp},device_port=#{device.devicePort},platform=#{device.platform},user_id=#{device.userId},cpu_info=#{device.cpuInfo} ,owner=#{device.owner}
        where id = #{device.id}
    </update>

</mapper>
