<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.vcloud.qa.dao.ClientAutoTagRelationDAO">
    <resultMap id="BaseResultMap" type="com.netease.vcloud.qa.model.ClientAutoTagRelationDO" >
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate"/>
        <result column="tag_id" jdbcType="BIGINT" property="tagId"/>
        <result column="relation_type" jdbcType="TINYINT" property="relationType"/>
        <result column="relation_id" jdbcType="BIGINT" property="relationId"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
    </resultMap>

    <sql id="baseSql">
        select id,gmt_create,gmt_update,tag_id,relation_type,relation_id,operator
    </sql>

    <select id="getAutoTagRelation" resultMap="BaseResultMap">
        <include refid="baseSql"/>
        FROM vcloud_client_auto_tag_relation
        WHERE 1=1
        <if test="tagId!= null">
        AND tag_id = #{tagId}
        </if>
        <if test="type!= null">
        AND relation_type = #{type}
        </if>
        <if test="relationId!= null">
        AND relation_id = #{relationId}
        </if>
    </select>

    <insert id="insertAutoTagRelation" parameterType="com.netease.vcloud.qa.model.ClientAutoTagRelationDO">
        INSERT INTO vcloud_client_auto_tag_relation(gmt_create,gmt_update,tag_id,relation_type,relation_id,operator)
        VALUES(now(),now(),#{relation.tagId},#{relation.relationType},#{relation.relationId},#{relation.operator})
    </insert>

    <select id="queryAutoTagRelationBySet" resultMap="BaseResultMap">
        <include refid="baseSql"/>
        FROM vcloud_client_auto_tag_relation
        WHERE tag_id IN
        <foreach collection="tagSet" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="queryAutoTagRelationByRelationIds" resultMap="BaseResultMap">
        <include refid="baseSql"/>
        FROM vcloud_client_auto_tag_relation
        WHERE relation_type  = #{type}
        AND relation_id IN
        <foreach collection="idSet" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <delete id="deleteAutoTagRelation" >
        DELETE FROM vcloud_client_auto_tag_relation
        WHERE  tag_id = #{tagId}
        AND relation_type = #{type}
        AND relation_id = #{relationId}
    </delete>
</mapper>
