<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.vcloud.qa.dao.VcloudClientAutoIosPrefInfoDAO">
  <resultMap id="BaseResultMap" type="com.netease.vcloud.qa.model.VcloudClientAutoIosPrefInfoDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="voltage" jdbcType="REAL" property="voltage" />
    <result column="temperature" jdbcType="REAL" property="temperature" />
    <result column="instantAmperage" jdbcType="REAL" property="instantamperage" />
    <result column="power" jdbcType="REAL" property="power" />
    <result column="level" jdbcType="REAL" property="level" />
    <result column="times" jdbcType="BIGINT" property="times" />
    <result column="taskId" jdbcType="INTEGER" property="taskid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, voltage, temperature, instantAmperage, power, level, times, taskId, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vcloud_client_auto_ios_pref_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from vcloud_client_auto_ios_pref_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.netease.vcloud.qa.model.VcloudClientAutoIosPrefInfoDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vcloud_client_auto_ios_pref_info (voltage, temperature, instantAmperage, 
      power, level, times, taskId, 
      create_time)
    values (#{voltage,jdbcType=REAL}, #{temperature,jdbcType=REAL}, #{instantamperage,jdbcType=REAL}, 
      #{power,jdbcType=REAL}, #{level,jdbcType=REAL}, #{times,jdbcType=BIGINT}, #{taskid,jdbcType=INTEGER},
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.netease.vcloud.qa.model.VcloudClientAutoIosPrefInfoDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vcloud_client_auto_ios_pref_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="voltage != null">
        voltage,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="instantamperage != null">
        instantAmperage,
      </if>
      <if test="power != null">
        power,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="times != null">
        times,
      </if>
      <if test="taskid != null">
        taskId,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="voltage != null">
        #{voltage,jdbcType=REAL},
      </if>
      <if test="temperature != null">
        #{temperature,jdbcType=REAL},
      </if>
      <if test="instantamperage != null">
        #{instantamperage,jdbcType=REAL},
      </if>
      <if test="power != null">
        #{power,jdbcType=REAL},
      </if>
      <if test="level != null">
        #{level,jdbcType=REAL},
      </if>
      <if test="times != null">
        #{times,jdbcType=INTEGER},
      </if>
      <if test="taskid != null">
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update vcloud_client_auto_ios_pref_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.voltage != null">
        voltage = #{record.voltage,jdbcType=REAL},
      </if>
      <if test="record.temperature != null">
        temperature = #{record.temperature,jdbcType=REAL},
      </if>
      <if test="record.instantamperage != null">
        instantAmperage = #{record.instantamperage,jdbcType=REAL},
      </if>
      <if test="record.power != null">
        power = #{record.power,jdbcType=REAL},
      </if>
      <if test="record.level != null">
        level = #{record.level,jdbcType=REAL},
      </if>
      <if test="record.times != null">
        times = #{record.times,jdbcType=INTEGER},
      </if>
      <if test="record.taskid != null">
        taskId = #{record.taskid,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update vcloud_client_auto_ios_pref_info
    set id = #{record.id,jdbcType=INTEGER},
      voltage = #{record.voltage,jdbcType=REAL},
      temperature = #{record.temperature,jdbcType=REAL},
      instantAmperage = #{record.instantamperage,jdbcType=REAL},
      power = #{record.power,jdbcType=REAL},
      level = #{record.level,jdbcType=REAL},
      times = #{record.times,jdbcType=INTEGER},
      taskId = #{record.taskid,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.netease.vcloud.qa.model.VcloudClientAutoIosPrefInfoDO">
    update vcloud_client_auto_ios_pref_info
    <set>
      <if test="voltage != null">
        voltage = #{voltage,jdbcType=REAL},
      </if>
      <if test="temperature != null">
        temperature = #{temperature,jdbcType=REAL},
      </if>
      <if test="instantamperage != null">
        instantAmperage = #{instantamperage,jdbcType=REAL},
      </if>
      <if test="power != null">
        power = #{power,jdbcType=REAL},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=REAL},
      </if>
      <if test="times != null">
        times = #{times,jdbcType=INTEGER},
      </if>
      <if test="taskid != null">
        taskId = #{taskid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netease.vcloud.qa.model.VcloudClientAutoIosPrefInfoDO">
    update vcloud_client_auto_ios_pref_info
    set voltage = #{voltage,jdbcType=REAL},
      temperature = #{temperature,jdbcType=REAL},
      instantAmperage = #{instantamperage,jdbcType=REAL},
      power = #{power,jdbcType=REAL},
      level = #{level,jdbcType=REAL},
      times = #{times,jdbcType=INTEGER},
      taskId = #{taskid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="queryIOSPrefInfoDOByTaskId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from vcloud_client_auto_ios_pref_info
    where taskId = #{taskId,jdbcType=INTEGER}
    ORDER BY times ASC
  </select>

  <insert id="patchInsert" parameterType="com.netease.vcloud.qa.model.VcloudClientAutoIosPrefInfoDO">
    insert into vcloud_client_auto_ios_pref_info(voltage, temperature, instantAmperage, power, level, times, taskId, create_time)
    VALUES
    <foreach collection="list" item="report" separator=",">
      (#{report.voltage},#{report.temperature},#{report.instantAmperage},#{report.power},#{report.level},#{report.times},#{report.taskId},now())
    </foreach>
  </insert>
</mapper>