<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.vcloud.qa.dao.VcloudClientAutoIosPrefMemoryInfoDAO">
  <resultMap id="BaseResultMap" type="com.netease.vcloud.qa.model.VcloudClientAutoIosPrefMemoryInfoDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="memory" jdbcType="REAL" property="memory" />
    <result column="app_cpu" jdbcType="REAL" property="appCpu" />
    <result column="sys_cpu" jdbcType="REAL" property="sysCpu" />
    <result column="times" jdbcType="INTEGER" property="times" />
    <result column="taskId" jdbcType="INTEGER" property="taskid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, memory, app_cpu, sys_cpu, times, taskId, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vcloud_client_auto_ios_pref_memory_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from vcloud_client_auto_ios_pref_memory_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.netease.vcloud.qa.model.VcloudClientAutoIosPrefMemoryInfoDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vcloud_client_auto_ios_pref_memory_info (memory, app_cpu, sys_cpu, 
      times, taskId, create_time
      )
    values (#{memory,jdbcType=REAL}, #{appCpu,jdbcType=REAL}, #{sysCpu,jdbcType=REAL}, 
      #{times,jdbcType=INTEGER}, #{taskid,jdbcType=INTEGER}, now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.netease.vcloud.qa.model.VcloudClientAutoIosPrefMemoryInfoDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vcloud_client_auto_ios_pref_memory_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memory != null">
        memory,
      </if>
      <if test="appCpu != null">
        app_cpu,
      </if>
      <if test="sysCpu != null">
        sys_cpu,
      </if>
      <if test="times != null">
        times,
      </if>
      <if test="taskid != null">
        taskId,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memory != null">
        #{memory,jdbcType=REAL},
      </if>
      <if test="appCpu != null">
        #{appCpu,jdbcType=REAL},
      </if>
      <if test="sysCpu != null">
        #{sysCpu,jdbcType=REAL},
      </if>
      <if test="times != null">
        #{times,jdbcType=INTEGER},
      </if>
      <if test="taskid != null">
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update vcloud_client_auto_ios_pref_memory_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.memory != null">
        memory = #{record.memory,jdbcType=REAL},
      </if>
      <if test="record.appCpu != null">
        app_cpu = #{record.appCpu,jdbcType=REAL},
      </if>
      <if test="record.sysCpu != null">
        sys_cpu = #{record.sysCpu,jdbcType=REAL},
      </if>
      <if test="record.times != null">
        times = #{record.times,jdbcType=INTEGER},
      </if>
      <if test="record.taskid != null">
        taskId = #{record.taskid,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update vcloud_client_auto_ios_pref_memory_info
    set id = #{record.id,jdbcType=INTEGER},
      memory = #{record.memory,jdbcType=REAL},
      app_cpu = #{record.appCpu,jdbcType=REAL},
      sys_cpu = #{record.sysCpu,jdbcType=REAL},
      times = #{record.times,jdbcType=INTEGER},
      taskId = #{record.taskid,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.netease.vcloud.qa.model.VcloudClientAutoIosPrefMemoryInfoDO">
    update vcloud_client_auto_ios_pref_memory_info
    <set>
      <if test="memory != null">
        memory = #{memory,jdbcType=REAL},
      </if>
      <if test="appCpu != null">
        app_cpu = #{appCpu,jdbcType=REAL},
      </if>
      <if test="sysCpu != null">
        sys_cpu = #{sysCpu,jdbcType=REAL},
      </if>
      <if test="times != null">
        times = #{times,jdbcType=INTEGER},
      </if>
      <if test="taskid != null">
        taskId = #{taskid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netease.vcloud.qa.model.VcloudClientAutoIosPrefMemoryInfoDO">
    update vcloud_client_auto_ios_pref_memory_info
    set memory = #{memory,jdbcType=REAL},
      app_cpu = #{appCpu,jdbcType=REAL},
      sys_cpu = #{sysCpu,jdbcType=REAL},
      times = #{times,jdbcType=INTEGER},
      taskId = #{taskid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>