<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.vcloud.qa.dao.VcloudClientAutoPerfTaskDAO">
  <resultMap id="BaseResultMap" type="com.netease.vcloud.qa.model.VcloudClientAutoPerfTaskDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="devicesPlatform" jdbcType="VARCHAR" property="devicesplatform" />
    <result column="devicesModel" jdbcType="VARCHAR" property="devicesmodel" />
    <result column="devicesVersion" jdbcType="VARCHAR" property="devicesversion" />
    <result column="cpuInfo" jdbcType="VARCHAR" property="cpuinfo" />
    <result column="sdkInfo" jdbcType="VARCHAR" property="sdkinfo" />
    <result column="sdkVersion" jdbcType="VARCHAR" property="sdkversion" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="auto_task_id" jdbcType="BIGINT" property="autoTaskId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, user, devicesPlatform, devicesModel, devicesVersion, cpuInfo, sdkInfo, 
    sdkVersion, create_time, auto_task_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vcloud_client_auto_pref_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from vcloud_client_auto_pref_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.netease.vcloud.qa.model.VcloudClientAutoPerfTaskDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vcloud_client_auto_pref_task (name, user, devicesPlatform, 
      devicesModel, devicesVersion, cpuInfo, 
      sdkInfo, sdkVersion, create_time, auto_task_id
      )
    values (#{name,jdbcType=VARCHAR}, #{user,jdbcType=VARCHAR}, #{devicesplatform,jdbcType=VARCHAR}, 
      #{devicesmodel,jdbcType=VARCHAR}, #{devicesversion,jdbcType=VARCHAR}, #{cpuinfo,jdbcType=VARCHAR}, 
      #{sdkinfo,jdbcType=VARCHAR}, #{sdkversion,jdbcType=VARCHAR}, now(),#{autoTaskId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.netease.vcloud.qa.model.VcloudClientAutoPerfTaskDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vcloud_client_auto_pref_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="devicesplatform != null">
        devicesPlatform,
      </if>
      <if test="devicesmodel != null">
        devicesModel,
      </if>
      <if test="devicesversion != null">
        devicesVersion,
      </if>
      <if test="cpuinfo != null">
        cpuInfo,
      </if>
      <if test="sdkinfo != null">
        sdkInfo,
      </if>
      <if test="sdkversion != null">
        sdkVersion,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="autoTaskId != null">
        auto_task_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="user != null">
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="devicesplatform != null">
        #{devicesplatform,jdbcType=VARCHAR},
      </if>
      <if test="devicesmodel != null">
        #{devicesmodel,jdbcType=VARCHAR},
      </if>
      <if test="devicesversion != null">
        #{devicesversion,jdbcType=VARCHAR},
      </if>
      <if test="cpuinfo != null">
        #{cpuinfo,jdbcType=VARCHAR},
      </if>
      <if test="sdkinfo != null">
        #{sdkinfo,jdbcType=VARCHAR},
      </if>
      <if test="sdkversion != null">
        #{sdkversion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="autoTaskId != null">
        #{autoTaskId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update vcloud_client_auto_pref_task
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.user != null">
        user = #{record.user,jdbcType=VARCHAR},
      </if>
      <if test="record.devicesplatform != null">
        devicesPlatform = #{record.devicesplatform,jdbcType=VARCHAR},
      </if>
      <if test="record.devicesmodel != null">
        devicesModel = #{record.devicesmodel,jdbcType=VARCHAR},
      </if>
      <if test="record.devicesversion != null">
        devicesVersion = #{record.devicesversion,jdbcType=VARCHAR},
      </if>
      <if test="record.cpuinfo != null">
        cpuInfo = #{record.cpuinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.sdkinfo != null">
        sdkInfo = #{record.sdkinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.sdkversion != null">
        sdkVersion = #{record.sdkversion,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.autoTaskId != null">
        auto_task_id = #{record.autoTaskId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update vcloud_client_auto_pref_task
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      user = #{record.user,jdbcType=VARCHAR},
      devicesPlatform = #{record.devicesplatform,jdbcType=VARCHAR},
      devicesModel = #{record.devicesmodel,jdbcType=VARCHAR},
      devicesVersion = #{record.devicesversion,jdbcType=VARCHAR},
      cpuInfo = #{record.cpuinfo,jdbcType=VARCHAR},
      sdkInfo = #{record.sdkinfo,jdbcType=VARCHAR},
      sdkVersion = #{record.sdkversion,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
      auto_task_id = #{record.autoTaskId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.netease.vcloud.qa.model.VcloudClientAutoPerfTaskDO">
    update vcloud_client_auto_pref_task
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="user != null">
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="devicesplatform != null">
        devicesPlatform = #{devicesplatform,jdbcType=VARCHAR},
      </if>
      <if test="devicesmodel != null">
        devicesModel = #{devicesmodel,jdbcType=VARCHAR},
      </if>
      <if test="devicesversion != null">
        devicesVersion = #{devicesversion,jdbcType=VARCHAR},
      </if>
      <if test="cpuinfo != null">
        cpuInfo = #{cpuinfo,jdbcType=VARCHAR},
      </if>
      <if test="sdkinfo != null">
        sdkInfo = #{sdkinfo,jdbcType=VARCHAR},
      </if>
      <if test="sdkversion != null">
        sdkVersion = #{sdkversion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="autoTaskId != null">
        auto_task_id = #{autoTaskId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netease.vcloud.qa.model.VcloudClientAutoPerfTaskDO">
    update vcloud_client_auto_pref_task
    set name = #{name,jdbcType=VARCHAR},
      user = #{user,jdbcType=VARCHAR},
      devicesPlatform = #{devicesplatform,jdbcType=VARCHAR},
      devicesModel = #{devicesmodel,jdbcType=VARCHAR},
      devicesVersion = #{devicesversion,jdbcType=VARCHAR},
      cpuInfo = #{cpuinfo,jdbcType=VARCHAR},
      sdkInfo = #{sdkinfo,jdbcType=VARCHAR},
      sdkVersion = #{sdkversion,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
      auto_task_id = #{autoTaskId,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryAutoPerfTaskList" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM vcloud_client_auto_pref_task
    WHERE 1 = 1
    <if test="user != null and user != ''">
        AND user = #{user}
    </if>
    ORDER BY id DESC
    LIMIT #{start},#{size}
  </select>

  <select id="countAUtoPerfTask" resultType="java.lang.Integer">
    SELECT count(1)
    FROM vcloud_client_auto_pref_task
    WHERE 1 = 1
    <if test="user != null and user != ''">
      AND user = #{user}
    </if>
  </select>

  <update id="updatePerfTestAutoCase" >
    update vcloud_client_auto_pref_task
    SET auto_task_id = #{auto,jdbcType=BIGINT}
    where id = #{perf,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryAuto" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from vcloud_client_auto_pref_task
    where auto_task_id = #{auto,jdbcType=BIGINT}
  </select>
</mapper>